.customcontainer{
    border: 1px solid black;
    
}

.header{
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    padding: 1em 5em;
    align-items: center;
}

.contain{
    padding: 20px 0px;
    border: 1px solid red;
    width: 100%;
}